body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2fb3fa;
    overflow: hidden;
    display: flex; /* Usamos flex para alinear los elementos */
    flex-direction: row; /* Alineamos los elementos en fila */
    justify-content: flex-start; /* Alineamos los elementos hacia la izquierda */
}

.navbar a {
    display: block;
    color: rgb(17, 15, 15);
    text-align: right; /* Asegura que el texto esté alineado a la izquierda */
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-img {
    padding-left: 2%;
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Ajusta el margen derecho para separar la imagen de los enlaces */
}


.container {
    display: flex;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 20px;
}

.column-left {
    background-color: #d1d1d179;
}

.column-right {
    background-color: #dfdfdf79;
}

h1 {
    text-align: center;
}

button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

summary {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
}

details[open] summary {
    background-color: #ddd;
}

details {
    margin-bottom: 10px;
}

details > div {
    margin-left: 20px;
}

 /* Estilos básicos de la ventana modal */
 .modal {
    display: none; /* Oculta la ventana por defecto */
    position: fixed; /* Mantiene la ventana fija en la pantalla */
    z-index: 1; /* Asegura que la ventana esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo de la pantalla */
    height: 100%; /* Alto completo de la pantalla */
    overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado alto */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}
/* Contenido de la ventana modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centra el contenido vertical y horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho de la ventana modal */
    position: relative;
}
/* Contenedor para el botón de cierre */
.close-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Estilo del contenedor del botón de cierre */
.close-container {
    position: absolute; /* Posición absoluta para ajustar el posicionamiento */
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde el lado derecho */
    z-index: 2; /* Asegura que esté por encima del contenido */
}

/* Estilo del botón de cierre */
.btn-close {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    font-size: 24px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor de puntero */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    position: relative; /* Posición relativa para ajustar la cruz */
}

/* Pseudo-elemento para dibujar la cruz */
.btn-close::before, .btn-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: #333; /* Color de la cruz */
    transform-origin: center;
}

.btn-close::before {
    transform: translate(-50%, -50%) rotate(45deg); /* Rotación para la primera línea */
}

.btn-close::after {
    transform: translate(-50%, -50%) rotate(-45deg); /* Rotación para la segunda línea */
}


.result-container1, .result-container2, .result-container3, .result-containerp {
    margin-bottom: 20px;
}
.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-section {
    margin-bottom: 20px;
}

/* Estilos de los resultados */
.result-container1 {
    background-color: #ea6f6f;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.result-container2 {
    background-color: #ffc4f2;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.result-container3 {
    background-color: #c4d7ff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.result-containerp {
    background-color: #ffffff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#titlep {
    color: rgba(72, 1, 1, 0.833);
}

#titleu {
    color: rgb(247, 52, 143);
}

#titleb {
    color: rgb(0, 128, 197);
}

#result-p {
    color: black;
}
